#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Container button {
  padding: 0.3em;
  margin: 0.4em;
  font-weight: bold;
}

.Std-btn {
  margin: 1em;
  background-color: rgb(162, 224, 221);
  padding: 0.5em 2em;
  border-radius: 10px;
}

.Form input {
  margin: 1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
}

.Form select {
  margin: 1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
}

.Std-btn:hover {
  border: 1px solid black;
}

img {
  width: 250px;
  border-radius: 7px;
}

.Pages {
  display: flex;
}

.Pages button {
  margin: 1em;
  padding: 0.5em 2em;
}

.Pages h3 {
  margin: 1em;
}

.Character {
  background-color: azure;
  display: flex;
  padding: 1em;
  border-radius: 10px;
}

.Character img {
  max-width: 400px;
}

.CharDescription {
  text-align: left;
  margin-left: 1em;
}


